* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    font-family: monospace;
    justify-content: center;
}

/* Section for class tags*/
.container {
    background: coral;
    border-radius: 20px;
    margin: 50px;
    padding: 50px;
    max-width: auto;
}

.title {
    text-align: center;
    color: darkcyan;
    font-size: 35px;
}

.action {
    margin-top: 30px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    height: 30px;
    color: darkorchid;
}

.action span {
    color: cornflowerblue;
}

.reset {
    cursor: pointer;
}

.reset:hover {
    color: darkcyan;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 15px;
    background: rgb(199, 100, 63);
}

.game-square {
    background: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 200px;
    width: 200px;
}

.x::after {
    content: '×';
    font-size: 200px;
}

.o::after {
    content: '○';
    font-size: 200px;
    color: cornflowerblue;
}
 /* Adding Responsiveness*/
@media only screen and (max-width: 1024px) {
    .grid {
        margin-top: 25px;
        grid-gap: 10px;
    }
    .game-square{
        height: 150px;
        width: 150px;
    }
    .x::after {
        font-size: 150;
    }
    .o::after {
        font-size: 175px;
    }
}

@media only screen and (max-width: 540px) {
    .container {
        margin: 25px;
        padding: 10px;
    }
    .game-square{
        height: 100px;
        width: 100px;
    }
    .x::after {
        font-size: 100;
    }
    .o::after {
        font-size: 125px;
    }
}